<p>
    <mat-toolbar color="primary">
      <button (click)="opened =! opened" mat-icon-button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Empresas</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button  class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
        <mat-list-item><button mat-button color="primary" routerLink="/dashboard">Dashboard </button></mat-list-item>
        <mat-list-item><button mat-button color="primary" routerLink="/form">Formulario </button></mat-list-item>
        <mat-list-item><button mat-button color="primary" routerLink="/list">Consulta </button></mat-list-item>
      </mat-list>
    
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
